body {
    background-color:  #c3c9b8;
    font-size: 18px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  26px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #00008B;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}


.fc-event-inner, .fc-event-skin {
    height:50px;
    font-size:18px;  
}
.ui-widget-content{
    background-color: #c3c9b8;
}

.footertable{
    
    margin-bottom: 5px;
    margin-top: 5px;
    display: inline-block;
}
.nav {
    font-size: 16px;
}
